/* Start vireabules */

:root {
  --mine-radius: 20px;
  --mine-transtion: 0.3s;
}

/* End vireabules */
/* Start Glouble rouls */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Outfit', sans-serif;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

body>.dot {
  background-color: hsla(178, 100%, 50%);
  color: white;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 5;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media (max-width:767px) {
  body>.dot {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

body>.dot:hover {
  background-color: rgb(0, 156, 151);
}

body>.dot:hover i {
  animation: back 0.5s infinite alternate;
  -webkit-animation: back 0.5s infinite alternate;
}

@keyframes back {
  0% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }

  100% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
}

/* End Glouble rouls */
/* Start card */

.card {
  width: 350px;
  height: 600px;
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: var(--mine-radius);
  -webkit-border-radius: var(--mine-radius);
  -moz-border-radius: var(--mine-radius);
  -ms-border-radius: var(--mine-radius);
  -o-border-radius: var(--mine-radius);
  box-shadow: 0px 20px 10px 15px hsl(217, 47%, 10%);
}

.card .image {
  position: relative;
  cursor: pointer;
}

.card .image .cube {
  width: 100%;
  border-radius: var(--mine-radius);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card .image .view,
.card .image::before {
  position: absolute;
  opacity: 0;
  transition: var(--mine-transtion);
  -webkit-transition: var(--mine-transtion);
  -moz-transition: var(--mine-transtion);
  -ms-transition: var(--mine-transtion);
  -o-transition: var(--mine-transtion);
}

.card .image::before {
  content: "";
  background-color: hsla(178, 100%, 50%, 0.5);
  width: 100%;
  height: 100%;
  border-radius: var(--mine-radius);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card .image:hover::before,
.card .image:hover .view {
  opacity: 1;
}

.card p.title {
  margin: 20px 0px;
  font-weight: bold;
  font-size: 22px;
  transition: var(--mine-transtion);
  -webkit-transition: var(--mine-transtion);
  -moz-transition: var(--mine-transtion);
  -ms-transition: var(--mine-transtion);
  -o-transition: var(--mine-transtion);
  cursor: pointer;
  color: white;
}

.card p.title:hover {
  color: hsla(178, 100%, 50%);
}

.card p.dis {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  margin-bottom: 20px;
  font-weight: 300;
}

.card .data,
.card .data .eth,
.card .data .days,
.card .user-info {
  display: flex;
  align-items: center;
}


.card .data {
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card .data .eth {
  color: hsla(178, 100%, 50%);
}

.card .data .eth img,
.card .data .days img {
  margin-right: 5px;
}

.card .data .days {
  color: hsl(215, 51%, 70%);
}

.card .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid white 2px;
  margin-right: 15px;
}

.card .user-info {
  color: hsl(215, 51%, 70%);
}

.card .user-info span {
  color: white;
  transition: var(--mine-transtion);
  -webkit-transition: var(--mine-transtion);
  -moz-transition: var(--mine-transtion);
  -ms-transition: var(--mine-transtion);
  -o-transition: var(--mine-transtion);
}

.card .user-info span:hover {
  color: hsla(178, 100%, 50%);
  cursor: pointer;
}

/* End card */