/* Start varibles */
:root {
  --mine-color: #2196f3;
  --mine-transition: 0.3s;
}

/* End varibles */
/* Start Glubal rouls */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* midem */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Glubal rouls */
/* Start header */

header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
  z-index: 1;
}

header .container {
  display: flex;
  align-items: center;
  height: 72px;
  position: relative;
}

@media (max-width:767px) {
  header .container {
    flex-direction: column;
    height: initial;
  }
}

header .container .logo {
  display: block;
  font-size: 26px;
  color: var(--mine-color);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width:767px) {
  header .container .logo {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

header .container .links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header .container .links>li {
  height: 100%;
}

header .container .links>li>a {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
}

@media (max-width:767px) {
  header .container .links>li>a {
    padding: 10px;
    font-size: 14px;
  }
}

header .container .links>li>a:hover {
  color: var(--mine-color);
}

header .container .links>li>a::before {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--mine-color);
  transition: var(--mine-transition);
}

header .container .links>li:hover>a::before {
  width: 100%;
}

header .container .links .other-links .mega-list {
  position: absolute;
  background-color: white;
  top: calc(100% + 50px);
  right: 0%;
  width: 100%;
  display: flex;
  gap: 40px;
  padding: 30px;
  display: none;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  border-bottom: 3px solid var(--mine-color);
}

@media (max-width:767px) {
  header .container .links .other-links .mega-list {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

header .container .links>li:last-child:hover .mega-list {
  display: flex;
  animation: up 0.2s linear forwards;
}

@keyframes up {
  100% {
    opacity: 1;
    top: calc(100% + 1px);
  }
}

header .container .links .other-links .mega-list .image img {
  max-width: 100%;
}

@media (max-width:991px) {
  header .container .links .other-links .mega-list .image {
    display: none;
  }
}

header .container .links .other-links .mega-list ul {
  min-width: 250px;
  flex: 1;
}

header .container .links .other-links .mega-list ul li {
  position: relative;
}

header .container .links .other-links .mega-list ul li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  color: var(--mine-color);
  text-transform: capitalize;
  border-bottom: 1px solid #e9e6e6;
  position: relative;
}

header .container .links .other-links .mega-list ul li::before {
  content: "";
  width: 00%;
  height: 100%;
  background-color: #f7f7f7;
  position: absolute;
  transition: var(--mine-transition);
  z-index: -1;
}

header .container .links .other-links .mega-list ul li:hover::before {
  width: 100%;
}

header .container .links .other-links .mega-list ul li i {
  margin-right: 10px;
}

header .container .links .other-links .mega-list ul li:last-child a {
  border-bottom: none;
}

@media (max-width:767px) {
  header .container .links .other-links .mega-list ul:first-of-type li:last-child a {
    border-bottom: 1px solid #e9e6e6;
  }
}

/* End header */
/* Start Landing */
.landing {
  height: calc(100vh - 72px);
  position: relative;
  overflow: hidden;
}

@media (max-width:767px) {
  .landing {
    height: calc(100vh - 90px);
  }
}

.landing::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ececec;
  position: absolute;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: -40px;
}

.landing .container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  height: 100%;
  padding-bottom: 120px;
  align-items: center;
}

@media (max-width: 991px) {
  .landing .container {
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }
}

.landing .container .text h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0%;
  letter-spacing: -2px;
}

@media (max-width:767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}

.landing .container .text p {
  font-size: 23px;
  color: #666;
  line-height: 1.7;
  max-width: 500px;
  margin-top: 5px;
}

@media (max-width:767px) {
  .landing .container .text p {
    font-size: 18px;
    margin: 10px 0;
  }
}

.landing .container .image img {
  width: 600px;
  position: relative;
  animation: up-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}

@keyframes up-down {
  0% {
    top: 0px;
  }

  50% {
    top: -50px;
  }

  100% {
    top: 0px;
  }
}

.landing a i {
  color: var(--mine-color);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: arrow 1.5s infinite;
}

@keyframes arrow {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 20px;
  }

  40%,
  60% {
    bottom: 40px;
  }
}

/* End Landing */